$def with (name)
	
<form method="post" action="add">
<p>Computer Name</p>
<p><input type="text" name="computer" /> <!--<input type="submit" value="Add" /></p>-->
<p>Username</p>
<p><input type="text" name="user" /> <!--<input type="submit" value="Add" /></p> -->
<p>Password</p>
<p><input type="password" name="password" /> </p>

<p><input type="radio" name="en_type" value="en"/>Enabled<br>
<input type="radio" name="en_type" value="dis"/>Disabled </p>

<input type="submit" value="Add" />

</form>
